<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="/image/android-chrome-512x512.png" type="image/x-icon">
    <link rel="stylesheet" href="/css/userhomepage.css" />
    <title>StreamQuest</title>
  </head>
  <body>
    <div class="navbar"><%- include('../partials/_navbar.ejs') %></div>

    <div class="header">
      <h1><%= greeting %>, <%= user.username %></h1>
      <p>Let's Add Some New Movies or TV Shows to Your Watchlist!</p>
    </div>

    <h2>Movies and TV Shows</h2>

    <div class="filter-container">
      <form action="/user/homepage" method="get">
        <div>
          <label for="search"></label>
          <input type="text" name="search" id="search" value="<%= search %>" placeholder="Search">
          
        </div>

        <div>
          <label for="genre"></label>
          <select name="genre" id="genre">
            <option value="" <%= !genre ? "selected" : "" %> disabled>Select a Genre</option>
            <option value="All" <%= genre === "All" ? "selected" : "" %>>All</option>
            <option value="Action" <%= genre === "Action" ? "selected" : "" %>>Action</option>
            <option value="Adventure" <%= genre === "Adventure" ? "selected" : "" %>>Adventure</option>
            <option value="Animation" <%= genre === "Animation" ? "selected" : "" %>>Animation</option>
            <option value="Biography" <%= genre === "Biography" ? "selected" : "" %>>Biography</option>
            <option value="Comedy" <%= genre === "Comedy" ? "selected" : "" %>>Comedy</option>
            <option value="Crime" <%= genre === "Crime" ? "selected" : "" %>>Crime</option>
            <option value="Drama" <%= genre === "Drama" ? "selected" : "" %>>Drama</option>
            <option value="Family" <%= genre === "Family" ? "selected" : "" %>>Family</option>
          </select>          
        </div>

        <div>
          <label for="minRating"></label>
          <select name="minRating" id="minRating">
            <option value="" <%= !minRating ? "selected" : "" %> disabled>Minimum Rating</option>
            <option value="All" <%= genre === "All" ? "selected" : "" %>>All</option>
            <% for (let i = 1; i <= 10; i++) { %>
              <option value="<%= i %>" <%= minRating == i ? "selected" : "" %>><%= i %></option>
            <% } %>
          </select>
        </div>

        <button type="submit">Filter</button>
      </form>   
      <form action="/user/homepage" method="get">
        <button type="submit">Reset</button>
      </form> 
    </div>

    <p>Results: <%= totalMovies %></p>

    <% if (search || genre !== "All" || minRating !== "All") { %>
      <div class="filter-message">
        <p>
          Showing results
          <% if (search) { %> for "<%= search %>" <% } %>
          <% if (genre && genre !== "All") { %> in genre "<%= genre %>" <% } %>
          <% if (minRating && minRating !== "All") { %> with minimum rating of <%= minRating %> <% } %>
        </p>
      </div>
    <% } %>
    

    <div class="movie-container">
    
    
      <% if(movies.length > 0) { %> <% movies.forEach(movie => { %>
      <div class="movie-info">
        <a href="/user/<%= movie._id %>">
          <img src="<%= movie.poster %>" alt="<%= movie.title %>" />
          <strong><%= movie.title %></strong> <br />
          <%= movie.genre %> <br />
          Rating: <%= movie.rating %>
        </a>
      </div>
      <% }) %> <% } else { %>
      <p>No Movies/TV Shows Available.</p>
      <% } %>
     
    </div>

    <div class="pagenav">
      <% if (currentPage > 1 ) { %>
      <a href="/user/homepage?pageNum=<%= currentPage - 1 %>&genre=<%= genre || "" %>&minRating=<%= minRating || "" %>&search=<%= search || "" %>"> Previous</a>
      <% } %>

      <p>Page <%= currentPage %> of <%= totalOfPages %></p>

      <% if (currentPage < totalOfPages ) { %>
      <a href="/user/homepage?pageNum=<%= currentPage + 1 %>&genre=<%= genre || "" %>&minRating=<%= minRating || "" %>&search=<%= search || "" %>"> Next</a>
      <% } %>
    </div>
   
  </body>
</html>
