<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Watch List</title>
  </head>
  <body>
    <%- include('../partials/watchlist-navbar.ejs') %>
    <h1>Your Watchlist</h1>

    <% if (watchlists.length > 0) { %>
    <ul>
      <% watchlists.forEach(movie => { %>
      <li>
        <h2><%= movie.title %></h2>
        <img src="<%= movie.poster %>" alt="<%= movie.title %>" width="100" />
        <p><strong>Genre:</strong> <%= movie.genre %></p>
        <p><strong>Rating:</strong> <%= movie.rating %></p>

        <div class="reviews">
          <strong>Reviews:</strong>
          <% if (movie.reviews.length > 0) { %>
          <ul>
            <% movie.reviews.forEach(review => { %>
            <li>
              <strong><%= review.user.username %>:</strong>
              <p><%= review.content %></p>
            </li>
            <% }); %>
          </ul>
          <% } %>
        </div>

        <form action="/user/watchlist/<%= movie._id %>/review" method="post">
          <textarea
            name="content"
            id="content"
            placeholder="Add a Review"
            required
          ></textarea>
          <button type="submit">Submit Review</button>
        </form>
      </li>
      <% }) %>
    </ul>
    <% } else { %>
    <p>
      You Have No Movies or TV Shows in Your Watchlist. Create a new one now!
    </p>
    <% } %>
    <a href="/user/homepage">Add Movies or TV Shows to Watchlist</a>
  </body>
</html>
