<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="shortcut icon"
      href="/image/android-chrome-512x512.png"
      type="image/x-icon"
    />
    <link rel="stylesheet" href="/css/watchlist.css" />
    <title>Watch List</title>
  </head>
  <body>
    <%- include('../partials/watchlist-navbar.ejs') %>
    <h1 class="header"><%= user.username %>'s Watchlist</h1>

    <div class="watchlist-container">
      <div class="watchlist">
        <% if (watchlists.length > 0) { %> <% watchlists.forEach(movie => { %>

        <h2><%= movie.title %></h2>
        <img src="<%= movie.poster %>" alt="<%= movie.title %>" width="100" />
        <p><strong>Genre:</strong> <%= movie.genre %></p>
        <p><strong>Rating:</strong> <%= movie.rating %></p>

        <form
          action="/user/watchlist/<%= movie._id %>?_method=DELETE"
          method="post"
        >
          <button type="submit">Delete from Watchlist</button>
        </form>
      </div>

      <div class="reviews">
        <strong>Reviews:</strong> <br />
        <% if (movie.reviews.length > 0) { %> <% movie.reviews.forEach(review =>
        { %>

        <strong><%= review.user.username %>:</strong>
        <p><%= review.content %></p>

        <% if (review.user._id.toString() === currentUserId.toString()) { %>
        <form
          action="/user/watchlist/<%= movie._id %>/review/<%= review._id %>?_method=PUT"
          method="POST"
        >
          <textarea
            name="content"
            id="content"
            value="<%= review.content %>"
            placeholder="Edit Your Review"
            required
          ></textarea>
          <button type="submit">Edit</button>
        </form>

        <form
          action="/user/watchlist/<%= movie._id %>/review/<%= review._id %>?_method=DELETE"
          method="POST"
        >
          <button type="submit">Delete</button>
        </form>
        <% } %> <% }); %> <% } %>
      </div>

      <form action="/user/watchlist/<%= movie._id %>/review" method="post">
        <textarea
          name="content"
          id="content"
          placeholder="Add a Review"
          required
        ></textarea>
        <button type="submit">Submit Review</button>
      </form>

      <% }) %> <% } else { %>
      <p>
        You Have No Movies or TV Shows in Your Watchlist. Create a new one now!
      </p>
      <% } %>
      <a href="/user/homepage">Add Movies or TV Shows to Watchlist</a>
    </div>
  </body>
</html>
