<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="shortcut icon"
      href="/image/android-chrome-512x512.png"
      type="image/x-icon"
    />
    <link rel="stylesheet" href="/css/watchlist.css" />
    <title>Watch List</title>
  </head>
  <body>
    <%- include('../partials/watchlist-navbar.ejs') %>
    <h1 class="header"><%= user.username %>'s Watchlist</h1>

    <div class="watchlist-container">
      <% if (watchlists.length > 0) { %> 
        <% watchlists.forEach((movie) => { %>

          <div class="movie-card">
            <h2><%= movie.title %></h2>
             <img src="<%= movie.poster %>" alt="<%= movie.title %>" class="movie-poster"/>

            <div class="movie-info">
              <p><strong>Genre: </strong> <%= movie.genre %></p> <br>
              <p><strong>IMDb Rating: </strong> <%= movie.rating %></p> <br>
              <p><strong>Overview: </strong><%= movie.overview %></p>

              <form action="/user/watchlist/<%= movie._id %>?_method=DELETE" method="post">
                <button type="submit">Delete from Watchlist</button>
              </form>
            </div>

            <div class="reviews">
              <span class="review-heading"><strong>Reviews</strong></span> <br />
              <% if (movie.reviews.length > 0) { %> 
                <% movie.reviews.forEach((review)=> { %>
                  <strong><%= review.user.username %>:</strong>
                  <p><%= review.content %></p>
                 
                    <% if (review.user._id.toString() === currentUserId.toString()) { %>
                      <div class="edit-delete">
                        <form action="/user/watchlist/<%= movie._id %>/review/<%= review._id %>?_method=PUT" method="POST">
                          <textarea name="content" id="content" placeholder="Edit Your Review" required><%= review.content %></textarea>
                          <button type="submit" class="edit-button">Edit</button>
                        </form>

                        <form action="/user/watchlist/<%= movie._id %>/review/<%= review._id %>?_method=DELETE" method="POST">
                          <button type="submit" class="delete-button">Delete</button>
                        </form>
                      </div>
                    <% } %> 
                <% }); %> 
              <% } else { %>
                <p> No Reviews Available </p>
              <% } %>
            </div>

            <form action="/user/watchlist/<%= movie._id %>/review" method="post">
              <textarea name="content" id="content" placeholder="Add a Review" required></textarea>
              <button type="submit" class="submit-review">Submit Review</button>
            </form>
          </div>
        <% }) %> 
      <% } else { %>
        <p> You Have No Movies or TV Shows in Your Watchlist. Create a new one now!</p>
      <% } %>
      <a href="/user/homepage">Back to Home</a>
    </div>
  </body>
</html>
